@font-face {
  font-family: font;
  src: url(./nofran.regular.ttf);
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

html,
body {
  height: 100%;
  width: 100%;
}

.container {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 80%;
  width: 50%;
  border-radius: 20px;
  background: linear-gradient(to top, #bc430d, #241705);
  transform: translate(50%, 15%);
  // z-index: 9;
  .cube {
    // background-color: #bc430d;
    position: absolute;
    width: 45%;
    left: 70%;
    top: 30%;
    // z-index: -1;
    img {
      width: 100%;
      object-fit: cover;
    }
  }
  .folder {
    position: absolute;
    width: 80vh;
    height: 80vh;
    background: linear-gradient(to bottom, #f09410, #bc430d);
    // filter: blur(5px);
    mask: url(./folder.png) center / cover no-repeat;
    z-index: -1;
    .button {
      position: relative;
      display: flex;
      align-items: center;
      justify-content: end;
      // background-color: #bc430d;
      top: 13%;
      left: 60%;
      width: fit-content;
    }
    .content {
      // background-color: #241705;
      position: relative;
      width: fit-content;
      padding: 20px; // Add some spacing from edges
      z-index: 1;
      top: 15%;
      font-size: 2rem;
      h2 {
        color: #feeaf0;
        font-family: font;
        font-weight: 500;
        letter-spacing: 1px;
      }
    }
    .text {
      position: relative;
      font-size: 1.2rem;
      // background-color: red;
      top: 15%;

      width: fit-content;
      // background-color: #241705;
      padding: 20px;
    }

    button {
      position: relative;
      font-size: 1.2rem;
      // background-color: red;
      top: 15%;
      padding: 5px 9px;
      margin: 20px;
      border-radius: 20px;
      background-color: transparent;
      border: 0.1rem solid #feeaf0;
      color: #feeaf0;
    }
  }
}
