@font-face {
  font-family: font;
  src: url(./boldwinn.regular.ttf);
}
@font-face {
  font-family: text-font;
  src: url(./texgyreheros.gyreheros-regular.otf);
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

html,
body {
  height: 100%;
  width: 100%;
}
body {
  width: 100%;
  height: 100%;
  // background-color: red;
  main {
    width: 100%;
    height: 100%;
    overflow: hidden;
    background: linear-gradient(to top, #482357, #1d1d3f, #22273b);
    // overflow: hidden;
    .nav{
      // background-color: red;
      color: #fff;
      display: flex;
      align-items: center;
      justify-content: space-evenly;
      width: 100%;
      padding: 5px 0px;
      position: absolute;
      i{
        font-size: 4rem;
      }
    }

    .container {
      position: relative;
      display: flex;
      align-items: center;
      justify-content: center;
      height: 80%;
      width: 50%;
      border-radius: 20px;
      background: linear-gradient(to top, #bc430d, #241705);
      transform: translate(50%, 15%);
      // z-index: 9;

      .cube {
        // background-color: #bc430d;
        position: absolute;
        width: 45%;
        left: 70%;
        top: 30%;
        animation: float 10s ease-in-out infinite;
        // z-index: -1;
        img {
          width: 100%;
          object-fit: cover;
          // filter: blur(1px);
        }
      }
      .folder {
        position: absolute;
        width: 80vh;
        height: 80vh;
        background: linear-gradient(to bottom, #f09410, #bc430d);
        // filter: blur(5px);
        mask: url(./folder.png) center / cover no-repeat;
        z-index: -1;
        .decoration {
          position: absolute;
          border-radius: 50%;
          background: rgba(255, 255, 255, 0.1);
          backdrop-filter: blur(10px);
        }
        .decoration-1 {
          width: 100px;
          height: 100px;
          top: 10%;
          left: 5%;
          animation: float 4s ease-in-out infinite;
        }
        .decoration-2 {
          width: 60px;
          height: 60px;
          bottom: 15%;
          right: 15%;
          animation: float 5s ease-in-out infinite 1s;
        }

        .decoration-3 {
          width: 80px;
          height: 80px;
          top: 50%;
          left: 15%;
          animation: float 6s ease-in-out infinite 2s;
        }
        .button {
          position: relative;
          display: flex;
          align-items: center;
          justify-content: end;
          // background-color: #bc430d;
          top: 13%;
          left: 60%;
          width: fit-content;
        }
        .content {
          // background-color: #241705;
          position: relative;
          width: fit-content;
          padding: 20px; // Add some spacing from edges
          z-index: 1;
          top: 15%;
          font-size: 2rem;
          h2 {
            color: #feeaf0;
            font-family: font;
            font-weight: 300;
            letter-spacing: 1px;
          }
        }
        .text {
          position: relative;
          font-size: 1.2rem;
          // background-color: red;
          top: 15%;
          color: #feeaf0;
          width: fit-content;
          // background-color: #241705;
          padding: 20px;
          p{
            font-family: text-font;
           

          }
          

        }

        button {
          position: relative;
          font-size: 1.1rem;
          // background-color: red;
          top: 15%;
          padding: 5px 9px;
          margin: 20px;
          border-radius: 10px;
          background-color: transparent;
          border: 0.1rem solid #feeaf0;
          color: #feeaf0;
        }
        button:hover {
          color: #ddd;
          background-color: #241705;
          transition: all 0.3s cubic-bezier(0.19, 1, 0.22, 1);
          border: none;
        }
      }
    }
    @keyframes float {
      0%,
      100% {
        transform: translateY(0px);
      }
      50% {
        transform: translateY(-20px);
      }
    }
  }
}
